body{
	background: grey url('grey.jpg');
}


#main-wrap{
	width: 960px;
	background: whitesmoke;
	margin: 0 auto;
}

#primary-header{
	min-height: 50px;
	background: cyan;
}

#primary-footer{
	min-height: 50px;
	background: cyan;
}
#middle-wrap{

}
.full-width{
	padding: 0 20px 10px;

}
#primary-footer{
	min-height: 50px;
	background: cyan;
	clear: both;
}
#sidebar{
	float: left;
	width: 300px;
}

#main h2{
	font-family: courier;
}













































































